@font-face {
    font-family: 'BlackMango';
    src: url('fonts/BlackMango-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BlackMango';
    src: url('fonts/BlackMango-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BlackMango';
    src: url('fonts/BlackMango-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BlackMango';
    src: url('fonts/BlackMango-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BlackMango';
    src: url('fonts/BlackMango-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BlackMango';
    src: url('fonts/BlackMango-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BlackMango';
    src: url('fonts/BlackMango-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BlackMango';
    src: url('fonts/BlackMango-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BlackMango';
    src: url('fonts/BlackMango-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }